body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #f5f5f5;
}

.header {
    text-align: center;
    background-color: #202020;
    padding: 80px;
}

.header h1 {
    font-size: 40px;
    color: #f5f5f5;
}

.navbar {
    overflow: hidden;
    background-color: #404040;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    text-align: center;
    font-weight: bold;
    color: #f5f5f5;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid #f5f5f5;
    text-decoration: none;
}

.navbar a:hover {
    color: #404040;
    background-color: #f5f5f5;
}

h5 {
    font-size: large;
    color: #202020;
    border: 2px solid #404040;
    width: max-content;
    margin: 5px;
    padding: 2px;
}

h6 {
    font-size: medium;
    color: #202020;
    border: 2px solid #404040;
    width: max-content;
    margin: 5px;
    padding: 2px;
}
